@charset "UTF-8";
@mixin border-top-radius($radii) {
    border-top-left-radius: $radii;
    border-top-right-radius: $radii;
}

@mixin border-right-radius($radii) {
    border-bottom-right-radius: $radii;
    border-top-right-radius: $radii;
}

@mixin border-bottom-radius($radii) {
    border-bottom-left-radius: $radii;
    border-bottom-right-radius: $radii;
}

@mixin border-left-radius($radii) {
    border-bottom-left-radius: $radii;
    border-top-left-radius: $radii;
}
@mixin border-radius($radii) {
     -moz-border-radius: $radii; /* Firefox */
  -webkit-border-radius: $radii; /* Safari 和 Chrome */
  border-radius: $radii; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

}